@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #000; 
    color: #f5a623; 
    line-height: 1.6;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
header{
    padding: 2rem;
    background-color: #f5a623;
    text-align: end;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#cla{
    width: 120px;
    height: auto;
}
header a {
  text-decoration: none;
  color: #000;/
  font-weight: bold;
  margin-left: 20px;
  transition: 0.3s;
}
header a:hover{
    color: #fff;
}