* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	background-color: #000;
	color: #ffa500;
}

header {
	background: linear-gradient(90deg, #ff7300, #ff4d00);
	padding: 15px 20px;
	display: flex;
	gap: 20px;
	align-items: center;
	border-bottom: 2px solid #ffa500;
}

#bt-logao {
	width: 80px;
	border-radius: 50%;
	margin-right: auto;
}

header a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	transition: 0.3s;
}

header a:hover {
	color: #fff;
}

.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 40px;
	gap: 40px;
}

h1 {
	width: 100%;
	color: #ffa500;
	margin-bottom: 20px;
}

.cart {
	flex: 2;
}

.cart-item {
	background-color: #1a1a1a;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(255, 165, 0, 0.2);
}

.cart-item img {
	width: 100px;
	border-radius: 10px;
	margin-right: 15px;
}

.item-info h3 {
	color: #ffa500;
	margin-bottom: 5px;
}

.item-info p {
	font-size: 0.9rem;
	color: #ddd;
}

.item-info span {
	display: block;
	margin-top: 5px;
	font-weight: bold;
}

.item-actions {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 10px;
}

.item-actions input {
	width: 50px;
	text-align: center;
	background: #222;
	border: 1px solid #444;
	color: #fff;
	border-radius: 5px;
}

.remove {
	background: transparent;
	border: none;
	color: #ffa500;
	font-size: 1.2rem;
	cursor: pointer;
}

.summary {
	flex: 1;
	background-color: #1a1a1a;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(255, 165, 0, 0.3);
	height: fit-content;
}

.summary h2 {
	color: #ffa500;
	margin-bottom: 20px;
}

.summary p,
.summary h3 {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.summary hr {
	border: 0.5px solid #333;
	margin: 10px 0;
}

.checkout {
	width: 100%;
	padding: 12px;
	background-color: #ffa500;
	color: #000;
	border: none;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

.checkout:hover {
	background-color: #ffb733;
}

footer {
	background-color: #111;
	text-align: center;
	padding: 20px;
	border-top: 2px solid #ffa500;
	color: #999;
	margin-top: 40px;
}
