* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	background-color: black;
}

header {
	background: linear-gradient(90deg, #ff7300, #ff4d00);
	padding: 15px 20px;
}
h1 {
	color: #ff7300;
}
p {
	color: #fff;
}
h2 {
	color: #ff7300;
}
h3 {
	color: #fff;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
}

.nav-left a,
.nav-right a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	margin: 0 10px;
	transition: color 0.3s ease;
}

.nav-left a:hover,
.nav-right a:hover {
	color: #fff;
	text-decoration: underline;
}

.nav-logo img {
	width: 80px;
	height: auto;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

#bt-logo {
	width: 80px;
	height: auto;
	border-radius: 5em;
}

#bt-brut {
	width: 200px;
	height: auto;
	border-radius: 5em;
}

.container {
	flex-direction: row-reverse;
}

main {
	display: flex;
	flex-direction: column;
}

h1 {
	margin-bottom: 0.5em;
}

footer {
	display: flex;
	flex-direction: column;
}
